# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
instance/

# Flask config files (optional)
*.env
*.flaskenv

# Virtualenv folder
venv/
ENV/
env/
.venv/

.idea/
*.log

*.json